// === TITLE ADMIN EDITOR
.wp-block.editor-post-title.editor-post-title__block {
	@apply max-w-screen-md mx-auto #{!important};
	.editor-post-title__input {
		@apply text-3xl md:text-4xl lg:text-4.5xl text-gray-900 dark:text-gray-100 my-5 #{!important};
	}
}

.wp-admin #wpwrap .block-editor-block-list__layout.is-root-container {
	@apply prose mx-auto text-gray-700 dark:text-gray-100 font-body;
	max-width: unset;
	// @apply max-w-screen-md #{!important};

	> * {
		@apply max-w-screen-md mx-auto #{!important};
		@apply my-5;
	}

	a.wp-block-button__link {
		@apply text-white no-underline;
	}
	img,
	embed,
	iframe,
	video {
		@apply max-w-full;
	}
	video,
	iframe {
		@apply w-full;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-900 dark:text-gray-200;
	}
	h1 + * {
		@apply xl:mt-0;
	}
	h5 {
		margin-bottom: 0.444em;
	}

	// ---------------------------------- ##  Code ----------------------------------
	code {
		@apply dark:text-gray-100;
	}
	pre {
		@apply dark:border dark:border-gray-600 overflow-x-auto;
		strong {
			color: inherit;
		}
	}
}
