body {
  @apply text-body;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*:not(.prose, .\!prose, .\!prose-sm, .prose-sm) {
  > h1 {
    @apply text-h1;
  }
  > h2 {
    @apply text-h2;
  }
  > h3[class] {
    @apply text-h3;
  }
  > h4[class] {
    @apply text-h4;
  }
  > h5[class] {
    @apply text-h5;
  }
  > h6[class] {
    @apply text-h6;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}

#comments {
  .parent > .children {
    @apply ml-2 md:ml-13 my-8 pl-4 md:pl-5 pr-2 border-l-2 border-gray-300 dark:border-gray-600 space-y-5;
  }
}

//
.\!prose-sm h1 + *,
.prose-sm h1 + *,
.prose h1 + * {
  margin-top: 0 !important;
}
.prose {
  input[type="submit"] {
    @apply px-3 py-2;
  }
}
//
body .prose-sm {
  font-size: 15px;
}
